.title {
  text-align: center;
  position: relative;
  font-family: "punk-kid";
  font-size: 150px;
  color: yellow;
  top: 15px;
  filter: blur(1px);
  opacity: .9;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.game-title {
  font-size: 100px;
  font-family: 'armalite';
}

.back-button {
  font-family: "CoveredByYourGrace";
  font-size: 70px;
  color: whitesmoke;
  filter: blur(1px);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  position: absolute;
  text-decoration: none;
  left: 100px;
  cursor: pointer;
  z-index: 100;
}

.back-button:hover {
  color: yellowgreen;
}

.names {
  position: relative;
  margin: auto;
}

.name {
  position: absolute;
  font-family: "armalite";
  font-size: 50px;
  /* filter: blur(2px); */
  z-index: 100;
  /* transition: font-size 400ms ease-in-out; */
}

.round {
  font-size: 40px;
  z-index: 100;
  color: antiquewhite;
  position: relative;
  /* font-family: armalite; */
}

.join-text {
  font-size: 26px;
}

.highlight {
  font-weight: bold;
  color: yellow;
}

.normal-text {
  font-size: 30px;
  z-index: 100;
  color: antiquewhite;
  /* font-family: armalite; */
}

.start-text {
  font-family: CoveredByYourGrace;
  font-size: 60px;
  filter: blur(1px);
  color: whitesmoke;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.button {
  font-family: armalite;
  text-align: center;
  position: relative;
  font-size: 80px;
  color: lightskyblue;
  cursor: pointer;
}

.button:hover {
  color: lightgreen;
}

.container {
  position: relative;
  height: 100vh;
  text-align: center;
}
.container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/bricks.jpg");
  background-size: 844px;

  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -2;
}

.timer-holder {
  margin-top: 40px;
}

#timer-bar {
  height: 50px;
  width: 100%;
  color: green;
  filter: blur(5px);
  opacity: 0.8;
}

.rectangle {
  color: antiquewhite;
  width: 45%;
  height: 350px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #333;
  border: 10px solid antiquewhite;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
    inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8), inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.rectangle.result {
  width: 100%;
}


.rectangle.question {
  height: 250px;
  width: 45%;
}

.rectangle.finish {
  height: 500px;
}

.rectangle.answers,
.rectangle.questions {
  height: 350px;
  width: 45%;
}

.rectangle.answer {
  height: 350px;
}

.rectangle.start {
  height: 155px;
  width: 45%;
}

.rectangle.setup {
  height: 350px;
  width: 45%;
}

.result-table {
  margin: auto;
  width: 500px;
  position: relative;
  text-align: left;
  font-size: 20px;
  color: antiquewhite;
  /* font-family: armalite; */
}

.player-result {
  width: 100%;
  height: 200px;
  position: absolute;
  -webkit-box-shadow: 5px 5px 25px;
  box-shadow: 5px 5px 25px;
  /* font-family: armalite; */
  background-color: #333;
  border: 5px solid antiquewhite;
  padding: 10px;
}

.player0-result {
  top: 100px;
  left: 5%;
  animation: 
    movecard0 2s ease alternate;
}
.player1-result {
  top: 350px;
  left: 5%;
  animation: 
    movecard1 2s ease alternate;
}
.player2-result {
  top: 600px;
  left: 5%;
  animation: 
    movecard2 2s ease alternate;
}
.player3-result {
  top: 600px;
  left: 28.5%;
  animation: 
    movecard3 2s ease alternate;
}
.player4-result {
  top: 600px;
  right: 28.5%;
  animation: 
    movecard4 2s ease alternate;
}
.player5-result {
  top: 600px;
  right: 5%;
  animation: 
    movecard5 2s ease alternate;
}
.player6-result {
  top: 350px;
  right: 5%;
  animation: 
    movecard6 2s ease alternate;
}
.player7-result {
  top: 100px;
  right: 5%;
  animation: 
    movecard7 2s ease alternate;
}

@font-face {
  font-family: CoveredByYourGrace;
  src: url("../fonts/CoveredByYourGrace.ttf");
}

@font-face {
  font-family: Stencil;
  src: url("../fonts/StardosStencil-Regular.ttf");
}

@font-face {
  font-family: armalite;
  src: url("../fonts/armalite.ttf");
}

@font-face {
  font-family: metal-lord;
  src: url("../fonts/metal-lord.regular.ttf");
}

@font-face {
  font-family: punk-kid;
  src: url("../fonts/punk-kid.regular.ttf");
}

@font-face {
  font-family: sickness;
  src: url("../fonts/sickness.regular.ttf");
}

@font-face {
  font-family: still-time;
  src: url("../fonts/still-time.regular.ttf");
}

.name-enter {
  animation-name: fade-in;
  animation-duration: 300ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 20px;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

/************ PAWS ***************/

.paw {
  position: relative;
  filter: drop-shadow(5px 5px 5px black);
  z-index: 100;
}

.paw0 {
  position: absolute;
  transform-origin: top right;
  transform: rotate(90deg);
  width: 300px;
  left: -100px;
  top: 250px;
  
  animation: 
    movepaw0 2s ease 2s forwards;
}

.paw1 {
  position: absolute;
  transform-origin: top right;
  transform: rotate(60deg);
  width: 300px;
  left: -50px;
  top: 150px;
  
  animation: 
    movepaw1 2s ease 2s forwards;
}

.paw2 {
  position: absolute;
  transform-origin: top right;
  transform: rotate(30deg);
  width: 300px;
  left: -50px;
  top: 150px;
  
  animation: 
    movepaw2 2s ease 2s forwards;
}

.paw3 {
  position: absolute;
  transform-origin: top right;
  transform: rotate(10deg);
  width: 300px;
  left: -50px;
  top: 150px;
  
  animation: 
    movepaw3 2s ease 2s forwards;
}

.paw4 {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-10deg);
  width: 300px;
  left: -50px;
  top: 150px;
  
  animation: 
    movepaw4 2s ease 2s forwards;
}

.paw5 {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-30deg);
  width: 300px;
  left: -50px;
  top: 150px;
  
  animation: 
    movepaw5 2s ease 2s forwards;
}

.paw6 {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-60deg);
  width: 300px;
  left: 50px;
  top: 200px;
  
  animation: 
    movepaw6 2s ease 2s forwards;
}

.paw7 {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
  width: 300px;
  left: 50px;
  top: 250px;
  
  animation: 
    movepaw7 2s ease 2s forwards;
}

.player-result {
  animation: 
    movecard 2s ease alternate;
}

/************ MOVE CARDS ***************/

@keyframes movecard0 {
  0% {
    transform: translate(-500px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard1 {
  0% {
    transform: translate(-400px, 500px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard2 {
  0% {
    transform: translate(-300px, 800px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard3 {
  0% {
    transform: translate(-100px, 1200px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard4 {
  0% {
    transform: translate(100px, 1200px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard5 {
  0% {
    transform: translate(300px, 800px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard6 {
  0% {
    transform: translate(400px, 500px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movecard7 {
  0% {
    transform: translate(500px, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/************ MOVE PAWS ***************/

@keyframes movepaw0 {
  0% {
    transform: rotate(90deg) translate(0, 0);
  }
  100% {
    transform: rotate(90deg) translate(0, 2000px);
  }
}

@keyframes movepaw1 {
  0% {
    transform: rotate(60deg) translate(0, 0);
  }
  100% {
    transform: rotate(60deg) translate(200px, 1200px);
  }
}

@keyframes movepaw2 {
  0% {
    transform: rotate(30deg) translate(0, 0);
  }
  100% {
    transform: rotate(30deg) translate(100px, 500px);
  }
}

@keyframes movepaw3 {
  0% {
    transform: rotate(10deg) translate(0, 0);
  }
  100% {
    transform: rotate(10deg) translate(100px, 500px);
  }
}

@keyframes movepaw4 {
  0% {
    transform: rotate(-10deg) translate(0, 0);
  }
  100% {
    transform: rotate(-10deg) translate(100px, 500px);
  }
}

@keyframes movepaw5 {
  0% {
    transform: rotate(-30deg) translate(0, 0);
  }
  100% {
    transform: rotate(-30deg) translate(300px, 700px);
  }
}

@keyframes movepaw6 {
  0% {
    transform: rotate(-60deg) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: rotate(-60deg) translate(800px, 1700px);
    opacity: 0;
  }
}

@keyframes movepaw7 {
  0% {
    transform: rotate(-90deg) translate(0, 0);
  }
  100% {
    transform: rotate(-90deg) translate(800px, 1700px);
  }
}